<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Articles | NewSpring.cc</title>

    <!-- jQuery -->
    <script src="https://newspring.cc/Scripts/Bundles/RockJQueryLatest?v=04Na70l5xG-Ak3mWoqN6rMOm3L9-p3kgT_NPfUoJxck1"></script>

    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>

    <!-- Typekit -->
    <link rel="stylesheet" href="https://use.typekit.net/bcm6gqj.css" />

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/3e0f7fab68.js" crossorigin="anonymous"></script>

    <script src="./Themes/new/Scripts/accordions-min.js"></script>

    <!-- Swiper.js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <!-- SmoothScroll -->
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script>

    <link rel="stylesheet" href="./Themes/new/Styles/bootstrap.css" />
    <link rel="stylesheet" href="./Themes/new/Styles/theme.css" />
  </head>
  <body data-lava>
    <section class="p-0 w-100 bg-white d-grid grid-cols-2 justify-content-between align-content-center drop-shadow">
      <div class="d-grid align-content-center">
        <a href="/" class="px-4 mb-0">
          <img src="./Themes/new/Assets/SVG/logo.svg" alt="NewSpring Church Logo" style="width: 160px; max-width: 160px" />
        </a>
      </div>
      <div class="overflow-hidden text-right">
        <a href="#" class="d-inline-block no-underline p-4 text-gray-darker border-solid border-l border-gray-lighter">
          <i class="fa-light fa-lg fa-bars"></i>
        </a>

        <span class="hidden-xs hidden-sm">
          <a href="#" class="d-inline-block no-underline p-4 text-gray-darker border-solid border-l border-gray-lighter">
            <i class="fa-light fa-lg fa-location-dot"></i>
          </a>

          <a href="#" class="d-inline-block no-underline p-4 text-gray-darker border-solid border-l border-gray-lighter">
            <i class="fa-light fa-lg fa-magnifying-glass"></i>
          </a>
        </span>

        <a href="#" class="d-inline-block no-underline p-4 text-gray-darker border-solid border-l border-gray-lighter">
          <i class="fa-light fa-lg fa-circle-user"></i>
        </a>
      </div>
    </section>

    {% assign fallbackImage = 'Global' | Attribute:'ImageLandscape' %} {% assign item = 'newspring_articles' | PersistedDataset | OrderBy:'PublishDateTime' |
    Shuffle | First %} {% assign item = 'newspring_articles' | PersistedDataset | Where:'Id',24323 | First %}
    <div id="content" class="max-w-full">
      <section class="pb-0">
        <div class="page-constrained mx-auto text-center mb-5 mb-md-7">
          <p class="pretitle text-gray">{{ item.ContentType }}</p>
          <h2 class="display-3" title="{{ item.Id }}">{{ item.Title }}</h2>
          {% if item.Communicators != empty %}
          <p class="lead">By {% for communicator in item.Communicators %}{{ communicator.Name }}{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
          {% endif %}
        </div>
        <div class="text-constrained mx-auto prose">
          {% if item.ImageLandscape != empty %}
          <div
            class="hidden ratio-landscape background-cover background-center mb-5 rounded-md"
            style="background-image:url('{{ item.ImageLandscape }}');"></div>
          {% endif %} {{ item.Content | HtmlDecode }}
        </div>
      </section>

      {% contentchannelitem id:'{{ item.Id }}' iterator:'items' %} {% assign itemEntity = items | First %} {% endcontentchannelitem %} {% assign cta =
      itemEntity | Attribute:'CalltoAction','Object' %} {% if cta != empty %} {% assign ctaImageLandscape = cta | Attribute:'ImageLandscape' %} {% assign
      ctaImage = cta | Attribute:'ImageSquare' | Default:ctaImageLandscape %}
      <div class="px-5 px-md-0 mt-md-8 page-constrained mx-auto">
        <section class="py-8 position-relative bg-white rounded-xl overflow-hidden">
          <div class="fullscreen background-cover background-center o-20" style="background-image: url('{{ ctaImage }}');"></div>
          <div class="fullscreen o-70" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0.9) 100%)"></div>
          <div class="bring-forward">
            <h2 class="">{{ cta | Attribute:'Heading' }}</h2>
            {{ cta.Content }}
            <p class="mb-0"><a href="{{ cta | Attribute:'Link' }}" class="btn btn-primary">{{ cta | Attribute:'LinkText' }}</a></p>
          </div>
        </section>
      </div>
      {% endif %}

      <section>
        <h2 class="display-3 py-7 py-lg-8 text-center">Discover more of what matters to you.</h2>

        {% if item.RelatedItems != null %} {% assign relatedItems = item.RelatedItems %} {% else %} {% assign relatedItems = 'newspring_articles' |
        PersistedDataset | Shuffle %} {% endif %}

        <div id="related" class="d-grid grid-cols-12 gap-4 gap-md-5 gap-lg-6 mb-5 page-constrained mx-auto">
          <div class="col-span-12 col-span-lg-7">
            <p class="pretitle">{% if item.RelatedItems != null %}Related{% else %}Next Up{% endif %}</p>
            <div class="d-grid grid-cols-12 gap-4 mb-5">
              {% for related in relatedItems limit:3 %} {% assign RelatedItem = related.Dataset | PersistedDataset | Where:'Id',related.Id | First %} {% if
              RelatedItem != null %} {% capture imageUrl %} {% if RelatedItem.VideoImageSquare != '' %} {{ RelatedItem.VideoImageSquare }} {% elseif
              RelatedItem.ImageSquare != '' %} {{ RelatedItem.ImageSquare }} {% elseif RelatedItem.ImageLandscape != '' %} {{ RelatedItem.ImageLandscape }} {%
              else %} {{ fallbackImage }} {% endif %} {% endcapture %}
              <div class="col-span-12">
                <div class="d-grid grid-cols-12 gap-3 gap-sm-4 gap-lg-5 align-items-sm-center">
                  <div class="col-span-3 col-span-lg-2">
                    <a href="{{ RelatedItem.Permalink }}">
                      <div class="ratio-square background-cover background-center rounded-md" style="background-image:url('{{ imageUrl | Trim }}');"></div>
                    </a>
                  </div>
                  <div class="col-span-9 col-span-lg-10 pr-1 height-max-content">
                    <p class="font-sans font-bold tracking-tight text-gray mb-1"><small>{{ RelatedItem.ContentType }}</small></p>
                    <h3 class="h6 md-h5 mb-0"><a href="{{ RelatedItem.Permalink }}">{{ RelatedItem.Title }}</a></h3>
                  </div>
                </div>
              </div>
              {% endif %} {% endfor %}
            </div>
          </div>
          <div class="col-span-12 col-span-lg-5">
            <div class="d-grid grid-cols-12 gap-y-3">
              <div class="col-span-12">
                <p class="pretitle">Topics</p>
                <div class="d-flex flex-wrap gap-2 mb-5">
                  {% if item.Tags != empty %} {% assign tags = item.Tags %} {% else %} {% assign tags = 'tags' | PersistedDataset | Shuffle %} {% endif %} {%
                  for tag in tags limit:6 %}
                  <a href="/topics/{{ tag.Name }}" class="btn btn-sm btn-primary text-capitalize font-bold height-max-content">{{ tag.Name }}</a>
                  {% endfor %}

                  <a href="/topics" class="btn btn-sm btn-tertiary text-capitalize font-bold height-max-content">Browse All Topics</a>
                </div>
              </div>
              <div class="col-span-12">
                <p class="pretitle">Search</p>
                <input
                  type="text"
                  class="js-search-input bg-gray-lighter h6 px-4 py-3 w-100 mb-5 border-0 rounded-full text-gray-dark"
                  placeholder="What can we help you find?" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-gray-lighter text-center">
        <div class="text-constrained mx-auto">
          <h3 class="h1 font-black tracking-tight">
            Resources for your everyday relationship with Jesus, <span class="text-primary">delivered to your inbox.</span>
          </h3>
          <input
            type="text"
            class="bg-white h6 px-5 py-4 w-100 w-sm-75 mb-5 border-0 rounded-full text-gray-darker text-center"
            placeholder="Enter your email address" />
          <p><a href="#" class="btn btn-primary bg-blue-dark">Sign Up</a></p>
        </div>
      </section>
    </div>

    <footer class="bg-gray-dark text-white px-4 py-7 px-md-7 py-md-8 text-center">
      <div class="d-flex flex-column flex-md-row flex-wrap justify-content-between align-content-center">
        <div data-aos="fade-up" class="w-100 w-md-auto height-max-content text-md-left">
          <img src="./Themes/new/Assets/SVG/mark.svg" alt="NewSpring Church Logo" class="mb-3" style="width: 40px; max-width: 40px" />
          <h6 class="font-black text-uppercase">NewSpring Church</h6>
          <p>PO Box 1407<br />Anderson, SC 29622<br /><a href="#">(864) 965-9990</a></p>
          <p class="font-sans font-medium">
            <small
              ><a href="https://www.rockrms.com" class="text-white text-hover-white text-decoration-none" target="_blank"
                >Built on
                <span class="position-relative fa-layers fa-lg fa-fw" style="top: 3px">
                  <i class="fa-solid fa-circle" style="color: white" aria-hidden="true"></i>
                  <i class="fa-inverse fa-brands fa-rockrms" style="color: #ee7725; transform: scale(1.1)" data-fa-transform="shrink-6" aria-hidden="true"></i>
                </span>
                Rock RMS</a
              ></small
            >
          </p>
          <p class="font-sans font-medium text-uppercase text-gray mb-0"><small>&copy; 2023 NewSpring Church</small></p>
        </div>
        <div data-aos="fade-up" class="height-max-content text-md-right">
          <ul class="list-unstyled font-sans font-medium">
            <li><a href="#" class="text-decoration-none">Privacy Policy</a></li>
            <li><a href="#" class="text-decoration-none">Terms of Use</a></li>
            <li><a href="#" class="text-decoration-none">Reprinting &amp; Reposting</a></li>
          </ul>
          <ul class="list-inline">
            <li>
              <a href="#" class="text-white">
                <i class="fa-brands fa-xl fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#" class="text-white">
                <i class="fa-brands fa-xl fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" class="text-white">
                <i class="fa-brands fa-xl fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#" class="text-white">
                <i class="fa-brands fa-xl fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../Themes/new/Scripts/parse-lava.js"></script>
    <script type="text/javascript">
      parseLava("https://rock.newspring.cc", ".keyfile", function () {
        // Do things after lava has been parsed
        var scroll = new SmoothScroll("a[data-scroll]");

        $(".collapse").collapse();

        // AOS.init();
      });
    </script>
  </body>
</html>
