// Christmas Brand Colors
@forrest: #102316;
@alpine: #033527;
@aged-wine: #53170a;
@aged-gold: #9b7b35;
@camel: #b18654;
@ice-skating: #dce2d5;
@cashmere: #e1dcd4;
@red-wine: #710e02;
@meringue: #f2ede9;
@trench-coat: #ceb788;

.christmas-at-newspring {
  .bg-forrest {
    background-color: @forrest;
  }
  .bg-alpine {
    background-color: @alpine;
  }
  .bg-aged-wine {
    background-color: @aged-wine;
  }
  .bg-aged-gold {
    background-color: @aged-gold;
  }
  .bg-camel {
    background-color: @camel;
  }
  .bg-ice-skating {
    background-color: @ice-skating;
  }
  .bg-cashmere {
    background-color: @cashmere;
  }
  .bg-red-wine {
    background-color: @red-wine;
  }
  .bg-meringue {
    background-color: @meringue;
  }
  .bg-trench-coat {
    background-color: @trench-coat;
  }

  .text-forrest {
    color: @forrest;
  }
  .text-alpine {
    color: @alpine;
  }
  .text-aged-wine {
    color: @aged-wine;
  }
  .text-aged-gold {
    color: @aged-gold;
  }
  .text-camel {
    color: @camel;
  }
  .text-ice-skating {
    color: @ice-skating;
  }
  .text-cashmere {
    color: @cashmere;
  }
  .text-red-wine {
    color: @red-wine;
  }
  .text-meringue {
    color: @meringue;
  }
  .text-trench-coat {
    color: @trench-coat;
  }

  .fill-forrest {
    fill: @forrest;
  }
  .fill-alpine {
    fill: @alpine;
  }
  .fill-aged-wine {
    fill: @aged-wine;
  }
  .fill-aged-gold {
    fill: @aged-gold;
  }
  .fill-camel {
    fill: @camel;
  }
  .fill-ice-skating {
    fill: @ice-skating;
  }
  .fill-cashmere {
    fill: @cashmere;
  }
  .fill-red-wine {
    fill: @red-wine;
  }
  .fill-meringue {
    fill: @meringue;
  }
  .fill-trench-coat {
    fill: @trench-coat;
  }

  .btn-primary {
    background-color: @aged-gold;
  }

  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:focus {
    background-color: darken(@aged-gold, 10%);
  }

  .btn-secondary {
    background-color: @red-wine;
  }

  .btn-secondary:hover,
  .btn-secondary:active,
  .btn-secondary:focus {
    background-color: darken(@red-wine, 10%);
  }

  @font-face {
    font-family: "AwesomeSerif";
    src: local("AwesomeSerif"), url("/Themes/new/Assets/Fonts/AwesomeSerifItalic-BdRegular.otf") format("opentype");
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "AwesomeSerif", sans-serif;
    letter-spacing: 1px !important;
  }
}
