:root {
  --orange: #ff5f1e;
  --pink: #ee79c7;
  --pink-light: #fcd2e2;
  --blue: #005be1;
  --blue-dark: #00449b;
}
.bg-orange {
  background-color: var(--orange);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-pink-light {
  background-color: var(--pink-light);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-blue-dark {
  background-color: var(--blue-dark);
}
.text-orange {
  color: var(--orange);
}
.text-pink {
  color: var(--pink);
}
.text-pink-light {
  color: var(--pink-light);
}
.text-blue {
  color: var(--blue);
}
.text-blue-dark {
  color: var(--blue-dark);
}
.easter h1,
.easter h2,
.easter h3,
.easter h4,
.easter h5,
.easter h6 {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}
