@import "../../../Styles/Bootstrap/variables.less";
@import "../../../Styles/_rock-variables.less";
@import "_variables.less";
@import "_variable-overrides.less";

//
//
// VARIABLES
//
//

@color-fuscia: #e854be;
@color-blue: #215cd7;
@color-beige: #f2f1ee;
@color-amber: #fd8a1a;
@color-red: #dd0e23;
@color-green: #618a00;
@color-yellow: #ffc240;
@color-purple: #8e69fb;
@color-sky: #acdde5;
@color-slate: #202427;
@color-pink: #f687a8;
@color-orange: #f05421;
@color-lime: #b9d956;

//
//
// OVERRIDES
//
//

html {
	scroll-behavior: smooth;
}


//
//
// HELPERS
//
//

.bg-fuscia { background-color: @color-fuscia; }
.bg-blue { background-color: @color-blue; }
.bg-beige { background-color: @color-beige; }
.bg-amber { background-color: @color-amber; }
.bg-red { background-color: @color-red; }
.bg-green { background-color: @color-green; }
.bg-yellow { background-color: @color-yellow; }
.bg-purple { background-color: @color-purple; }
.bg-sky { background-color: @color-sky; }
.bg-slate { background-color: @color-slate; }
.bg-pink { background-color: @color-pink; }
.bg-orange { background-color: @color-orange; }
.bg-lime { background-color: @color-lime; }

.text-fuscia { color: @color-fuscia; }
.text-blue { color: @color-blue; }
.text-beige { color: @color-beige; }
.text-amber { color: @color-amber; }
.text-red { color: @color-red; }
.text-green { color: @color-green; }
.text-yellow { color: @color-yellow; }
.text-purple { color: @color-purple; }
.text-sky { color: @color-sky; }
.text-slate { color: @color-slate; }
.text-pink { color: @color-pink; }
.text-orange { color: @color-orange; }
.text-lime { color: @color-lime; }

.fill-fuscia { fill: @color-fuscia; }
.fill-blue { fill: @color-blue; }
.fill-beige { fill: @color-beige; }
.fill-amber { fill: @color-amber; }
.fill-red { fill: @color-red; }
.fill-green { fill: @color-green; }
.fill-yellow { fill: @color-yellow; }
.fill-purple { fill: @color-purple; }
.fill-sky { fill: @color-sky; }
.fill-slate { fill: @color-slate; }
.fill-pink { fill: @color-pink; }
.fill-orange { fill: @color-orange; }
.fill-lime { fill: @color-lime; }

.h-0 { height: 0; }
.svh-100 {
  height: 100svh !important; /* new browsers */
}

//
//
// BUTTONS
//
//

.btn {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .5px;
}

.btn-primary {
  background-color: @color-orange;
  color: @white;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: darken(@color-orange, 10%);
}

.btn-secondary {
  background-color: @color-purple;
  color: @white;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: darken(@color-purple, 10%);
}

.btn-blue {
  background-color: @color-blue;
  color: @white;
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
  color: @white;
  background-color: darken(@color-blue, 10%);
}

.btn-amber {
  background-color: @color-amber;
  color: @white;
}
.btn-amber:hover,
.btn-amber:active,
.btn-amber:focus {
  color: @white;
  background-color: darken(@color-amber, 10%);
}

.btn-fuscia {
  background-color: @color-fuscia;
  color: @white;
}
.btn-fuscia:hover,
.btn-fuscia:active,
.btn-fuscia:focus {
  color: @white;
  background-color: darken(@color-fuscia, 10%);
}

.btn-slate {
  background-color: @color-slate;
  color: @white;
}
.btn-slate:hover,
.btn-slate:active,
.btn-slate:focus {
  color: @white;
  background-color: darken(@color-slate, 10%);
}

.btn-black {
  background-color: @black;
  color: @white;
}
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  color: @white;
  background-color: darken(@black, 10%);
}

.btn-white {
  background-color: @white;
  color: @black;
}
.btn-white:hover,
.btn-white:active,
.btn-white:focus {
  color: @black;
  background-color: darken(@white, 10%);
}


//
//
// TYPOGRAPHY
//
//

body {
  font-family: @font-family-headings;
  font-weight: 500;
  letter-spacing: -.5px;
}

.lead {
  color: inherit;
  font-style: normal;
  font-weight: inherit;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.display-1,
.display-2,
.display-3 {
  text-transform: uppercase;
}

@media @lg {
  .h-lg-100 {
    height: 100%;
  }
  .w-lg-auto {
    width: auto;
  }
  .display-3 {
    font-size: 104px;
  }
}