/* stylelint-disable */
/* stylelint-enable */
/*
    The accent colors are deprecated and should not be used in new theme development. They will be
    removed in Rock v 6.0.
*/
.bg-fuscia {
  background-color: #e854be;
}
.bg-blue {
  background-color: #215cd7;
}
.bg-beige {
  background-color: #ede9d7;
}
.bg-amber {
  background-color: #fd8a1a;
}
.bg-red {
  background-color: #dd0e23;
}
.bg-green {
  background-color: #618a00;
}
.bg-yellow {
  background-color: #ffc240;
}
.bg-purple {
  background-color: #8e69fb;
}
.bg-sky {
  background-color: #acdde5;
}
.bg-slate {
  background-color: #202427;
}
.bg-pink {
  background-color: #f687a8;
}
.bg-orange {
  background-color: #f05421;
}
.bg-lime {
  background-color: #b9d956;
}
.text-fuscia {
  color: #e854be;
}
.text-blue {
  color: #215cd7;
}
.text-beige {
  color: #ede9d7;
}
.text-amber {
  color: #fd8a1a;
}
.text-red {
  color: #dd0e23;
}
.text-green {
  color: #618a00;
}
.text-yellow {
  color: #ffc240;
}
.text-purple {
  color: #8e69fb;
}
.text-sky {
  color: #acdde5;
}
.text-slate {
  color: #202427;
}
.text-pink {
  color: #f687a8;
}
.text-orange {
  color: #f05421;
}
.text-lime {
  color: #b9d956;
}
.fill-fuscia {
  fill: #e854be;
}
.fill-blue {
  fill: #215cd7;
}
.fill-beige {
  fill: #ede9d7;
}
.fill-amber {
  fill: #fd8a1a;
}
.fill-red {
  fill: #dd0e23;
}
.fill-green {
  fill: #618a00;
}
.fill-yellow {
  fill: #ffc240;
}
.fill-purple {
  fill: #8e69fb;
}
.fill-sky {
  fill: #acdde5;
}
.fill-slate {
  fill: #202427;
}
.fill-pink {
  fill: #f687a8;
}
.fill-orange {
  fill: #f05421;
}
.fill-lime {
  fill: #b9d956;
}
.btn {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.btn-primary {
  background-color: #f05421;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #d03e0e;
}
.btn-secondary {
  background-color: #8e69fb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: #6937fa;
}
.btn-blue {
  background-color: #215cd7;
  color: #ffffff;
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
  color: #ffffff;
  background-color: #1a49ab;
}
.btn-amber {
  background-color: #fd8a1a;
  color: #ffffff;
}
.btn-amber:hover,
.btn-amber:active,
.btn-amber:focus {
  color: #ffffff;
  background-color: #e27102;
}
body {
  font-family: "colfax-web", sans-serif;
}
.lead {
  color: inherit;
  font-style: normal;
  font-weight: inherit;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.display-1,
.display-2,
.display-3 {
  text-transform: uppercase;
}
