@import "../../../Styles/Bootstrap/variables.less";
@import "../../../Styles/_rock-variables.less";
@import "_variables.less";
@import "_variable-overrides.less";

//
//
// VARIABLES
//
//

@color-pink: #f687a8;
@color-blue: #215cd7;
@color-orange: #f05421;
@color-fuscia: #e854be;
@color-beige: #f2f1ee;
@color-amber: #fd8a1a;
@color-red: #dd0e23;
@color-green: #58770e;
@color-yellow: #ffc240;
@color-purple: #6d49d9;
@color-sky: #acdde5;
@color-slate: #202427;
@color-lime: #b9d956;

@color-teal: #0fa4b7;
@color-brown: #7a2e20;
@color-lilac: #c3c3fc;

//
//
// OVERRIDES
//
//

html {
	scroll-behavior: smooth;
  scroll-padding-top: 79px; 
}

// section {
//   overflow: hidden;
// }


//
//
// HELPERS
//
//

.bg-fuscia { background-color: @color-fuscia; }
.bg-blue { background-color: @color-blue; }
.bg-beige { background-color: @color-beige; }
.bg-amber { background-color: @color-amber; }
.bg-red { background-color: @color-red; }
.bg-green { background-color: @color-green; }
.bg-yellow { background-color: @color-yellow; }
.bg-purple { background-color: darken(@color-purple, 5%); }
.bg-sky { background-color: @color-sky; }
.bg-slate { background-color: @color-slate; }
.bg-pink { background-color: @color-pink; }
.bg-orange { background-color: @color-orange; }
.bg-lime { background-color: @color-lime; }
.bg-teal { background-color: @color-teal; }
.bg-brown { background-color: @color-brown; }
.bg-lilac { background-color: @color-lilac; }

.text-fuscia { color: @color-fuscia; }
.text-blue { color: @color-blue; }
.text-beige { color: @color-beige; }
.text-amber { color: @color-amber; }
.text-red { color: @color-red; }
.text-green { color: @color-green; }
.text-yellow { color: @color-yellow; }
.text-purple { color: @color-purple; }
.text-sky { color: @color-sky; }
.text-slate { color: @color-slate; }
.text-pink { color: @color-pink; }
.text-orange { color: @color-orange; }
.text-lime { color: @color-lime; }
.text-teal { color: @color-teal; }
.text-brown { color: @color-brown; }
.text-lilac { color: @color-lilac; }

.fill-fuscia { fill: @color-fuscia; }
.fill-blue { fill: @color-blue; }
.fill-beige { fill: @color-beige; }
.fill-amber { fill: @color-amber; }
.fill-red { fill: @color-red; }
.fill-green { fill: @color-green; }
.fill-yellow { fill: @color-yellow; }
.fill-purple { fill: @color-purple; }
.fill-sky { fill: @color-sky; }
.fill-slate { fill: @color-slate; }
.fill-pink { fill: @color-pink; }
.fill-orange { fill: @color-orange; }
.fill-lime { fill: @color-lime; }
.fill-teal { fill: @color-teal; }
.fill-brown { fill: @color-brown; }
.fill-lilac { fill: @color-lilac; }

.h-0 { height: 0; }
.svh-100 {
  height: 100svh !important; /* new browsers */
}

.o-97 {
  opacity: .97;
}

[data-toggle="collapse"] i {
  transition: all .3s ease-in-out;
}

.collapse {
  overflow: hidden;
}

.border-none {
  border-width: 0px !important;
}

//
//
// BUTTONS
//
//

.btn {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .5px;
}

.btn-primary {
  background-color: @color-orange;
  color: @white;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: darken(@color-orange, 10%) !important;
}

.btn-secondary {
  background-color: @color-purple;
  color: @white;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: darken(@color-purple, 15%) !important;
}

.btn-blue {
  background-color: @color-blue;
  color: @white;
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
  color: @white;
  background-color: darken(@color-blue, 10%);
}

.btn-amber {
  background-color: @color-amber;
  color: @white;
}
.btn-amber:hover,
.btn-amber:active,
.btn-amber:focus {
  color: @white;
  background-color: darken(@color-amber, 10%);
}

.btn-yellow {
  background-color: darken(@color-yellow, 15%);
  color: @white;
}
.btn-yellow:hover,
.btn-yellow:active,
.btn-yellow:focus {
  color: @white;
  background-color: darken(@color-yellow, 25%);
}

.btn-fuscia {
  background-color: @color-fuscia;
  color: @white;
}
.btn-fuscia:hover,
.btn-fuscia:active,
.btn-fuscia:focus {
  color: @white;
  background-color: darken(@color-fuscia, 10%);
}

.btn-slate {
  background-color: @color-slate;
  color: @white;
}
.btn-slate:hover,
.btn-slate:active,
.btn-slate:focus {
  color: @white;
  background-color: darken(@color-slate, 10%);
}

.btn-pink {
  background-color: @color-pink;
  color: @white;
}
.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus {
  color: @white;
  background-color: darken(@color-pink, 10%);
}

.btn-sky {
  background-color: @color-sky;
  color: @gray-darker;
}
.btn-sky:hover,
.btn-sky:active,
.btn-sky:focus {
  color: @white;
  background-color: darken(@color-sky, 10%);
}

.btn-black {
  background-color: @black;
  color: @white;
}
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  color: @white;
  background-color: darken(@black, 10%);
}

.btn-white {
  background-color: @white;
  color: @black;
}
.btn-white:hover,
.btn-white:active,
.btn-white:focus {
  color: @black;
  background-color: darken(@white, 10%);
}


//
//
// TYPOGRAPHY
//
//

body {
  font-family: @font-family-headings;
  font-weight: 500;
  letter-spacing: -.5px;
}

.lead {
  color: inherit;
  font-style: normal;
  font-weight: inherit;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.display-1,
.display-2,
.display-3 {
  text-transform: uppercase;
}
a.text-purple:hover { color: @color-purple; }
a.text-blue:hover { color: @color-blue; }

.display-1 {
  font-size: ceil(@font-size-display-1*.8);
}
.display-2 {
  font-size: ceil(@font-size-display-2*.9);
}
.display-3 {
  font-size: ceil(@font-size-display-3*.95);
}

#navigation a {
  font-size: 125%;
}

small {
  font-size: 80%;
  line-height: 1.3;
}

[data-toggle='collapse'] i {
  margin-top: -7px;
}

#gauntlet-wordmark {
  margin-bottom: -2px;
}

#cutout_2 {
  position: absolute;
  top: 15%;
  right: -60%;
  max-width: 100%;
}

#cutout_3 {
  position: absolute;
  bottom: -70%;
  right: 0;
  left: -5%;
  max-width: 100%;
}

@media @sm {
  #cutout_2 {
    top: 0;
    right: -63%;
  }
}

@media @md {
  #gauntlet-wordmark {
    margin-bottom: -3px;
  }

  #cutout_2 {
    right: -30%;
    width: 70%;
  }

  #navigation a {
    font-size: 100%;
  }

  .display-1 {
    font-size: ceil(@font-size-display-1 * 1.43); // 92px
    letter-spacing: -3px;
  }

  .display-2 {
    font-size: ceil(@font-size-display-2 * 1.5); // 84px
    letter-spacing: -2.7px;
  }
}

@media @lg {
  html {
    scroll-padding-top: 91px; 
  }

  .display-3 {
    font-size: ceil(@font-size-display-3*1.55);
  }

  #gauntlet-wordmark {
    margin-bottom: -4px;
  }

  #cutout_2 {
    top: -5%;
  }

  #navigation.collapse {
    display: block;
    height: auto !important;
    overflow: visible;
  }

  .svh-lg-100 {
    height: svh100;
  }

  .h-lg-100 {
    height: 100%;
  }
  .w-lg-auto {
    width: auto;
  }
}

@media @xl {
  #gauntlet-wordmark {
    margin-bottom: -7px;
  }
}